.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.tiny-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.medium-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.no-margin {
  margin: 0 !important;
}

.clear {
  clear: both;
}

.big {
  font-size: 32px;
}

.muted {
  color: #888;
}

.italic {
  font-style: italic;
}

.center-text {
  text-align: center;
}

.positive {
  color: limegreen;

  &:before {
    content: "+";
  }
}

.negative {
  color: orangered;
}

.inline {
  display: inline-block;
}

.small-margin-right {
  margin-right: 20px;
}
