.box-graph {
   background: white;
}

#chart {
}

g.pageviews {
   fill: #88ffc6;
}

g.visitors {
   fill: #533feb;
}

.axis {
   .domain{ 
      stroke: none; 
   }

   line {
   stroke: rgb(218, 218, 218);
   }

   text {
      font-size: 12px;
      fill: #6c7680;
   }
}

