@import "normalize";
@import "util";
@import "grid";

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 15px;
  color: #444;
  background: #f5f5f5;
}

h1, h2, h3 {
  color: #111;
  margin: 0;

  small {
    font-weight: normal;
    font-style: italic;
    color: #666;
  }
}

table {
  border-collapse: collapse;

  th {
    color: #222;
  }

  th, td {
    border: 1px solid #eee;
    padding: 4px 8px;
  }
}

a {
  color: #09f;
}

label {
  display: block;
}

input {
  padding: 8px;
}

button,
input[type="submit"] {
  padding: 8px;
  cursor: pointer;

  &.active {
    border: 2px solid black;
  }
}

.container {
  max-width: 1020px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 20px 0;
}

.block {
  width: auto;
  background: white;
  padding: 20px;
  margin-bottom: 20px;

  h1, h2, h3 {
    margin-bottom: 20px;
  }
}

.block-float {
  margin-right: 20px;
  float: left;
}

.count {
  font-weight: bold;
  font-size: 120%;
}
