@import "normalize";
@import "util";
@import "grid";
@import "forms";
@import "tables";

* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #444;
  background: #f5f5f5;
}

h1, h2, h3, h4, h5 {
  color: #111;
  margin: 0;

  small {
    font-weight: normal;
    font-style: italic;
    color: #666;
  }
}

a {
  color: #09f;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.container {
  max-width: 1020px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 20px 0;
}

.header-bar {
  background: black;
  color: white;
  margin-bottom: 20px;
  padding: 12px 0;
  line-height: 32px;
  font-weight: bold;

  h1, h2, h3, a { color: white; }

  .subtitle{
    color: #BBB;
    margin-left: 10px;
    font-size: 20px;
  }
}

.block {
  width: auto;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;

  h1, h2, h3 {
    margin-bottom: 20px;
  }
}

.block-float {
  margin-right: 20px;
  float: left;
}


.loading-overlay {
    position: absolute;
    background: rgba( 255, 255, 255, 0.9 );
    width: 100%;
    height: 100%;
    z-index: 10;
    font-weight: bold;
    margin: -20px;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      margin: 50px;
      height: 28px;
      width: 28px;
      animation: rotate 0.8s infinite linear;
      border: 8px solid #AAA;
      border-right-color: transparent;
      border-radius: 50%;
    }

}


@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.count {
  font-weight: bold;
  font-size: 120%;
}


h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3{
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

small {
  font-size: 70%;
}

@import "graphs"
