@import "normalize";
@import "util";
@import "grid";
@import "forms";
@import "tables";

body {
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #444;
  background: #f5f5f5;
}

h1, h2, h3 {
  color: #111;
  margin: 0;

  small {
    font-weight: normal;
    font-style: italic;
    color: #666;
  }
}

a {
  color: #09f;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.container {
  max-width: 1020px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 20px 0;
}

.header-bar {
  background: black;
  color: white;
  margin-bottom: 40px;
  padding: 12px 0;
  line-height: 32px;
  font-weight: bold;

  h1, h2, h3, a { color: white; }

  .subtitle{
    color: #BBB;
    margin-left: 10px;
    font-size: 20px;
  }
}

.block {
  width: auto;
  background: white;
  padding: 20px;
  margin-bottom: 20px;

  h1, h2, h3 {
    margin-bottom: 20px;
  }
}

.block-float {
  margin-right: 20px;
  float: left;
}

.count {
  font-weight: bold;
  font-size: 120%;
}
