@import "normalize";

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 15px;
  color: #333;
  background: #f5f5f5;
}

h1, h2, h3 {
  color: #111;

  small {
    font-weight: normal;
    font-style: italic;
    color: #666;
  }
}

table {
  border-collapse: collapse;

  th, td {
    border: 1px solid #eee;
    padding: 4px 8px;
  }
}

a {
  color: #09f;
}

label {
  display: block;
}

input {
  padding: 8px;

  &[type="submit"] {
    cursor: pointer;
  }
}

.container {
  max-width: 1020px;
  padding: 0 20px;
}

.block {
  width: auto;
  background: white;
  padding: 20px;
  margin-bottom: 20px;

  h1, h2, h3 {
    margin-top: 0;
  }
}

.form-group {
  margin-bottom: 20px;
}

.count {
  font-weight: bold;
  font-size: 120%;
}

.header {
  line-height: 40px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
