@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-thin.eot'); /* IE9 Compat Modes */
	src: url('../fonts/overpass-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/overpass-thin.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/overpass-thin.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/overpass-thin.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-thin-italic.eot');
	src: url('../fonts/overpass-thin-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-thin-italic.woff2') format('woff2'),
	url('../fonts/overpass-thin-italic.woff') format('woff'),
	url('../fonts/overpass-thin-italic.ttf')  format('truetype');
	font-weight: 200;
	font-style: italic;
}


@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-extralight.eot');
	src: url('../fonts/overpass-extralight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-extralight.woff2') format('woff2'),
	url('../fonts/overpass-extralight.woff') format('woff'),
	url('../fonts/overpass-extralight.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-extralight-italic.eot');
	src: url('../fonts/overpass-extralight-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-extralight-italic.woff2') format('woff2'),
	url('../fonts/overpass-extralight-italic.woff') format('woff'),
	url('../fonts/overpass-extralight-italic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}



@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-light.eot');
	src: url('../fonts/overpass-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-light.woff2') format('woff2'),
	url('../fonts/overpass-light.woff') format('woff'),
	url('../fonts/overpass-light.ttf')  format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-light-italic.eot');
	src: url('../fonts/overpass-light-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-light-italic.woff2') format('woff2'),
	url('../fonts/overpass-light-italic.woff') format('woff'),
	url('../fonts/overpass-light-italic.ttf')  format('truetype');
	font-weight: 400;
	font-style: italic;
}



@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-regular.eot');
	src: url('../fonts/overpass-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-regular.woff2') format('woff2'),
	url('../fonts/overpass-regular.woff') format('woff'),
	url('../fonts/overpass-regular.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-italic.eot');
	src: url('../fonts/overpass-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-italic.woff2') format('woff2'),
	url('../fonts/overpass-italic.woff') format('woff'),
	url('../fonts/overpass-italic.ttf')  format('truetype');
	font-weight: 500;
	font-style: italic;
}




@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-semibold.eot');
	src: url('../fonts/overpass-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-semibold.woff2') format('woff2'),
	url('../fonts/overpass-semibold.woff') format('woff'),
	url('../fonts/overpass-semibold.ttf')  format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-semibold-italic.eot');
	src: url('../fonts/overpass-semibold-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-semibold-italic.woff2') format('woff2'),
	url('../fonts/overpass-semibold-italic.woff') format('woff'),
	url('../fonts/overpass-semibold-italic.ttf')  format('truetype');
	font-weight: 600;
	font-style: italic;
}




@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-bold.eot');
	src: url('../fonts/overpass-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-bold.woff2') format('woff2'),
	url('../fonts/overpass-bold.woff') format('woff'),
	url('../fonts/overpass-bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-bold-italic.eot');
	src: url('../fonts/overpass-bold-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-bold-italic.woff2') format('woff2'),
	url('../fonts/overpass-bold-italic.woff') format('woff'),
	url('../fonts/overpass-bold-italic.ttf')  format('truetype');
	font-weight: 700;
	font-style: italic;
}



@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-extrabold.eot');
	src: url('../fonts/overpass-extrabold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-extrabold.woff2') format('woff2'),
	url('../fonts/overpass-extrabold.woff') format('woff'),
	url('../fonts/overpass-extrabold.ttf')  format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-extrabold-italic.eot');
	src: url('../fonts/overpass-extrabold-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-extrabold-italic.woff2') format('woff2'),
	url('../fonts/overpass-extrabold-italic.woff') format('woff'),
	url('../fonts/overpass-extrabold-italic.ttf')  format('truetype');
	font-weight: 800;
	font-style: italic;
}


@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-heavy.eot');
	src: url('../fonts/overpass-heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-heavy.woff2') format('woff2'),
	url('../fonts/overpass-heavy.woff') format('woff'),
	url('../fonts/overpass-heavy.ttf')  format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'overpass';
	src: url('../fonts/overpass-heavy-italic.eot');
	src: url('../fonts/overpass-heavy-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/overpass-heavy-italic.woff2') format('woff2'),
	url('../fonts/overpass-heavy-italic.woff') format('woff'),
	url('../fonts/overpass-heavy-italic.ttf')  format('truetype');
	font-weight: 900;
	font-style: italic;
}
