---
name: Run tests
on: [ push, pull_request ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '1.19'
      - uses: actions/checkout@master
      - name: Run tests
        run: |
          make test
